export(aSPUpath2C)
export(aSPUsPathC)
export(aSPUsPath2C)
export(aSPUperm2C)

importFrom(MASS, ginv, mvrnorm)
importFrom(mvtnorm, rmvnorm, pmvnorm)
importFrom(matrixStats, rowMins, rowMaxs)
importFrom("stats", "fitted.values", "glm", "pchisq", "prcomp", "approx",
            "qnorm", "pnorm", "rnorm", "runif", "cov", "fitted", "formula", "var", "cor", "mad")
importFrom("utils", "head", "tail")
importFrom(grDevices, rgb)
importFrom(graphics, par, layout, image, title, text, axis)
importFrom(Rcpp, evalCpp)

useDynLib(aSPUc)
